{% extends 'eightpillars/base.html' %}
{% load humanize %}
{% load formatit %}

{% block content %}
<div id="mainview">
    {% if eightpillardata %}
        {% for obj in eightpillardata %}
            <table>
                <tr>
                    <th colspan=6>{{obj.ticker}} <i style="font-size: 10px;">last updated: {{obj.last_updated}}</i></th>
                </tr>
                <tr>
                    <th>PE (<20)</th>
                    <td>{{obj.Pe}}</td>
                    <td>{% if obj.is_pe_acceptable %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}           
                    <th>Shares Outstanding Reduced</th>
                    <td>{{obj.shares_outstanding|intcomma}}</td>
                    <td>{% if obj.are_shares_outstanding_shrinking %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}           
                </tr>
                <tr>
                    <th>Profit Margin > 10%</th>
                    <td>{{obj.profit_margin|to_percent:0}}</td>
                    <td>{% if obj.is_profit_margin_acceptable %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}</td>
                    <th>Quick Ratio</th>
                    <td></td>
                    <td>{% if obj.is_quick_ratio_positive %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}        
                </tr>
                <tr>
                    <th>Revenue Growth (4 years)</th>
                    <td></td>
                    <td>{% if obj.is_revenue_growing %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}           
                    <th>Free Cash Flow</th>
                    <td>{{obj.average_cash_flow|intcomma}}</td>    
                    <td>{% if obj.is_cash_flow_growing %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}               
                </tr>
                <tr>
                    <th>Profit Growth (4 years)</th>
                    <td></td>        
                    <td>{% if obj.is_net_income_growing %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}           
                    <th>Free Cash Flow worth Market Cap</th>
                    <td>FCF: {{obj.cash_flow_value|intcomma}} vs Market Cap: {{obj.market_cap|intcomma}}</td>     
                    <td>{% if obj.is_market_price_worth %}<i class="material-icons dp48">check_circle</i>{% else %}<i class="material-icons dp48">clear</i>{% endif %}                
                </tr>  
            </table>
        {% endfor %}
    {% else %}
        <tr>
            <td>{{message}}</td>
        </tr>
    {% endif %}
</div>

{% endblock %}