nav {
    color: #fff;
    background-color: rgb(50, 97, 250);
    width: 100%;
    height: 100px;
    line-height: 100px;
}
body {
    background-color: #ccc;
}
p {
    background-color: inherit;
}
.logo {
    margin-top: 20px;
}
.headername{
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
}
.profile-img {
    height: auto;
    width: 180px;
}
.aboutfields {
    background-color: rgba(255, 255, 255, 0.842);
}
select {
    display: block;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: unset;
    opacity: unset;
    pointer-events: all;
}
th,
td {
    color: black;
}